
html {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(180deg, #84daf5, rgb(178, 66, 21), #affffa, #ffffff);
  }

  body {
    margin-top: 20rem;
    margin-bottom: 20rem;
    margin-left: 20rem;
    margin-right: 20rem;
  }
  
  h1 {
    text-align: center;
    filter: drop-shadow(20px 20px 10px #1707cb);
    justify-content: center;

  }
  h2 {
    margin: 4rem auto 1rem auto;
    text-align: center;
    
  }

  h3 {
    text-align: center;
    filter: blur(10px 10px 10px #1707cb);

  }
  p,
  li {
        font-size: 20px;

  }
  ol {
    padding: 20px;
  }
  
  ol li {
    padding: 10px 0;
  }
  img {
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 2px 1px rgb(0, 0, 0, .5);
      }
  figcaption {
    text-align: center;
    font-weight: bold;
    color: rgb(0, 58, 66);
  }
  footer {
    margin: 2rem 0 2rem 0;
    text-align: center;
  }
  
  /* ---CUSTOM CLASS NAME SELECTORS--- */
  

  .img-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .tips-div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;

  }
  .top-places-div {
    max-width: 800px;
    margin: 5rem auto;
    color: rgb(253, 197, 132);
    padding: 1rem 2rem;
    background-color: rgb(0, 58, 66);
    border-radius: 1rem;
  }
  .top-places-div h2 {
    text-align: center;
    margin: 1rem auto;
    font-weight: lighter;
    
  }
  
 



  /* ------------------------- */